:root{
    --Dark-cyan: hsl(158, 36%, 37%);/* pret h1 */
    --Cream: hsl(30, 38%, 92%);/* bCKGROUND COLOR */
    --Very-dark-blue: hsl(212, 21%, 14%);/* Scris h1 */
    --Dark-grayish-blue: hsl(228, 12%, 48%);/* Scrisul din paragraf */
    --White: hsl(0, 0%, 100%);/* scris de la buton */
    --dark-green: hsl(158, 36%, 18%);
}
body{
    margin:0;
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--Cream);
    width: 100vw;
    height: 100vh;
}
.main{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 40vw;
    border-radius: 10px;
    background-color: var(--White);
}
.img{
    background-image: url("../images/image-product-desktop.jpg");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100vh;
}
.description_box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 1.5rem;
    width: 50%;
    height: 100%;
}

.description_box h1{
    font-weight: 700;
    font-size: 2.5rem;
    margin: 0;
    color: var(--Very-dark-blue);
}
p{
    color: var(--Dark-grayish-blue);
}
button{
    width: 250px;
    height: 50px;
    margin-bottom: rem;
    border-radius: 10px;
    background-color: var(--Dark-cyan);
    color: var(--White);
    border: none;
}
button img{
    margin-right: 15px;
}
.price{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.price h1{
    color: var(--Dark-cyan);
}
.price h5{
    font-weight: 50;
    color: var(--Dark-grayish-blue);
    text-decoration: line-through;
}
button:hover{
    background-color: var(--dark-green);
    cursor: pointer;
}


@media only screen and (max-width: 376px) {
    /* Stilează aici elementele pentru ecranele mici */
    .container{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 375px;
        height: 100vh;
    }

    .main {
        display: flex;
        flex-direction: column; /* Pentru a aranja elementele pe verticală */
        align-items: center; /* Centrează elementele */
        margin: 10px;
        margin-top: 20px;
        width: 90%;
        height: 90%;
        padding: 0;
    }
    .img{
        width: 90vw;
        background-image: url("../images/image-product-mobile.jpg");
        height: 1000px;
        border-radius: 10px 10px 0 0;
    }

    .description_box {
        margin: 10px 0;
        text-align: left;
        width: 79%;
    }

    .description_box h3{
        font-size: 0.7rem;
    }

    .description_box h1 {
        font-size: 2rem;
    }

    .description_box h5 {
        font-size: 0.5rem;
    }

    .price{
        margin-bottom: 10px;
    }

    button {
        width: 100%;
        font-size: 1rem;
        margin-bottom: 10px;
    }
}